# Gerenciadores de pacotes
elpaca/
builds/
repos/
straight/
elpa/
eshell/
eln-cache

# Arquivos temporários e backup
backups/
auto-saves/
*~
\#*\#
*.elc
auto-save-list/
tramp
.DS_Store

# Arquivos do Vim/Neovim
.*.swp
*.swp
*.swo

# Diretórios específicos do Emacs
.cache/
transient/
url/
session.*
recentf
bookmarks
ido.last
smex-items
projectile-bookmarks.eld
projectile.cache
forge-database.sqlite
tramp-connection-history
ac-comphist.dat
